<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pinch of Salt</title>
    <link rel="stylesheet" href="../Application/Styles/create.css ">
    <link rel="stylesheet" href="../Application/Styles/header.css ">  
</head>
<body>
    <header>
        <a href="../Views/home.html" class="logo">Cibo<span class ="green">.</span>.<span class ="red">.</span></a>
        <ul class ="navigation">
            <li><a href="../Views/home.html">Home</a></li>
           <li><a href="../Views/recipe.html">Recipes</a></li>
            <li><a href="../Views/create.html">Pinch of Salt</a></li>
            <li><a href="../Views/login.html">Seek In!</a></li>
            
        </ul>
    </header>
    <section class="banner" id="banner">
        <div class="content">
            <h2>Create Own Recipe</h2>
            <a href="#" class="btn"> Coming Soon</a>

        </div>
    </section>

</body>
</html>