<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script
   src="https://kit.fontawesome.com/64d58efce2.js"
   crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="../Application/Styles/login.css" />
  <link rel="stylesheet" href="../Application/Styles/header.css" />
  <title>Seek In</title>
 </head>

 <body>
  <header>
    <a href="../Views/home.html" class="logo">Cibo<span class ="green">.</span>.<span class ="red">.</span></a>
    <ul class ="navigation">
        <li><a href="../Views/home.html">Home</a></li>
       <li><a href="../Views/recipe.html">Recipes</a></li>
        <li><a href="../Views/create.html">Pinch of Salt</a></li>
        <li><a href="../Views/login.html">Seek In!</a></li>
    </ul>
</header>

  <div class="container">
   <div class="forms-container">
    <div class="signin-signup">
     <form action="#" class="sign-in-form">
      <h2 class="title">Sign in</h2>
      <div class="input-field">
       <i class="fas fa-envelope"></i>
       <input type="text" placeholder="Email" />
      </div>
      <div class="input-field">
       <i class="fas fa-lock"></i>
       <input type="password" placeholder="Password" />
      </div>
      <input class="btn solid" type="submit" value="Login" />
        </form>
     <form action="#" class="sign-up-form">
      <h2 class="title">Sign up</h2>
      <div class="input-field">
       <i class="fas fa-user"></i>
       <input type="text" placeholder="Username" />
      </div>
      <div class="input-field">
       <i class="fas fa-envelope"></i>
       <input type="email" placeholder="Email" />
      </div>
      <div class="input-field">
       <i class="fas fa-lock"></i>
       <input type="password" placeholder="Password" />
      </div>
      <input type="submit" class="btn" value="Sign up" />
     </form>
    </div>
   </div>

   <div class="panels-container">
    <div class="panel left-panel">
     <div class="content">
      <h3>New here ?</h3>
      <p>
       Come Join Us ! Explore the wide variety of Good Food.
      </p>
      <button class="btn transparent" id="sign-up-btn">Sign up</button>
     </div>
         </div>
    <div class="panel right-panel">
     <div class="content">
      <h3>One of us ?</h3>
      <p>
       Login to explore the new latest Good Food recipes.
      </p>
      <button class="btn transparent" id="sign-in-btn">Sign in</button>
     </div>
         </div>
   </div>
  </div>
  <script src="../Application/Scripts/login.js"></script>
 </body>
</html>